body{
    font-family: 'ABeeZee', sans-serif;
    margin: 0 auto;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 7vw;
}

h2{
    font-family: 'Crete Round', serif;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 4vw;
    text-align: center;
}

.wrapper{
    max-width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart-content{
    font-size: 0.7rem;
    font-weight: bold;
    background-color: aqua;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.create-design{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t-shirt-w{
    width: 1000px;
    height: 1000px;
    background-image: url(/img/white-shirt@1000x1000.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 350px auto 350px;
    grid-template-rows: 200px auto 250px;
    grid-template-areas: 
    "top top top"
    "left text right"
    "bottom bottom right";
}

.text-box{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.options-bar{
    display: flex;
    justify-content: space-around;
}

.sizing{
    padding: 2rem;
}

.add-btn-container{
    padding: 2rem;
}