body{
    font-family: 'ABeeZee', sans-serif;
    margin: 0 auto;
    width: 100vw;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 9vw;
}

h2{
    font-family: 'Crete Round', serif;
}

h3{
    font-family: 'Crete Round', serif;
}

.btn{
    background-color: darkslategrey;
    color: white;
    border: 0;
    border-radius: 0.8rem;
    padding: 1rem;
    font-family: 'Crete Round', serif;
    font-size: 1.5rem;
}

.checkout-btn{
    width: 100%;
}

.close-btn{
    width: 2rem;
    height: 2rem;
    align-self: flex-end;
    background-color: white;
}

.count-btn{
    background-color: white;
    font-size: 1.5rem;
    margin: 0.4rem 0.6rem;
    padding: 0.2rem 0.5rem;
}

button:hover{
    cursor: pointer;
}

.intro{
    font-size: 25px;
    text-align: center;
}

.gallery-container{
    display: flex;
    justify-content: center;  
    flex-wrap: wrap;  
    max-width: 100vw;
}

.specifics{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
    "counter price"
    "specifics specificsb";
}

.cc-qty{
    grid-area: counter;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Crete Round', serif;
    font-size: 1.8rem;
}

.cc-color{
    grid-area: specifics;
    display: flex;
    justify-content: center;
}

.cc-size{
    grid-area: specificsb;
    display: flex;
    justify-content: center;
}

.cc-price{
    grid-area: price;
    font-family: 'Crete Round', serif;
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cc-price-sticker{
    border-radius: 50%;
    padding: 1rem;
    border: 1.5px solid black;
    color: black;
}

.remove{
    text-decoration: underline;
}

.remove:hover{
    cursor: pointer;
}

.select-container{
    width: 35%;
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.select-container div{
    margin: 0;
}

select{
    font-family: 'ABeeZee', sans-serif; 
    padding: 0.8rem;
    font-size: 1.5rem;
}

option{
    padding: 1rem;
}

.roboto{
    font-family: 'Roboto', sans-serif;
    font-size: 9vw;
    text-align: center;
}

.wrapper{
    width: 100vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.shopping-cart{
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.cart-click-handler{
    display: flex;
}

.cart-click-handler:hover{
    cursor: pointer;
}

.cart-counter{
    font-size: 0.7rem;
    font-weight: bold;
    background-color: aqua;
    border-radius: 50%;
    padding: 0.2rem 0.6rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.create-design{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.t-shirt-w{
    width: 100vw;
    height: 414px;
    background-image: url(/img/white@414x414.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 92px auto 100px;
    grid-template-areas: 
    "top top price"
    "left text right"
    "bottom bottom right";
}

.t-shirt-b{
    width: 100vw;
    height: 414px;
    background-image: url(/img/black@414x414.png);
    background-repeat: no-repeat;
    display: grid;
    grid-template-columns: 150px auto 150px;
    grid-template-rows: 92px auto 100px;
    grid-template-areas: 
    "top top price"
    "left text right"
    "bottom bottom right";
    color: white;
}



.text-box{
    grid-area: text;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding: 0;
}

.text-box:hover{
    cursor: pointer;
}

.options-bar{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

.sizing{
    padding: 2rem;
}

.add-btn-container{
    padding: 2rem;
}

.hidden-cart{
    display: none;
}

.show-cart-contents{
    width: 100%;
    display: flex;
    justify-content: flex-end;    
}

.cart-content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.your-cart{
    width: 100%;
    margin-top: 1rem;
    background-color: beige;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.item-container{
    width: 100%;
    margin: 0.5rem 1rem;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cc-item{
    font-size: 2rem;
    padding: 0.7rem;
}

.cart-footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0;
}

.cart-footer p{
    margin-top: 0;
    padding: 1rem;
}

.hidden{
    display: none;
}

.help{
    color: red;
}

textarea{
    outline: none;
    resize: none;
    overflow: auto;
    background-color: beige;
    width: 100%;
    padding: 0.5rem;
}

.gallery-container article{
    padding: 1rem;
    width: 100vw;
    background-color: beige;
    border-radius: 1.7rem;
    margin: 0 0.5rem 2rem 0.5rem;
}

footer{
    margin-top: 4rem;
}

footer div{
    margin: 0.5rem;
    padding: 1rem;
    background-color: beige;
    border-radius: 1.7rem;
}

footer h3{
    text-align: center;
}

.checkout-cart{
    margin: 0;
    width: 100vw;
    background-color: beige;
}

.checkout-basket-footer{
    padding: 1.5rem;
    text-align: right;
}

.checkout-input{
    margin: 0.5rem;
    padding: 1rem;
    font-family: cursive;
    color: darkslateblue;
}

.done h2{
    text-align: center;
}

.thankyou{
    font-size: 30px;
    text-align: center;
}

.payment-container{
    display: flex;
    flex-direction: column;
    padding: 0.8rem;
}

.cart-header p{
    text-align: center;
    padding: 1rem;
}

.cart-header h2{
    text-align: center;
    padding: 1rem;
}

.payment-details{
    display: flex;
    flex-direction: column;
}

.checkout-page a{
    text-decoration: none;
    color: black;
}

@media only screen and (min-width: 700px) {
    .roboto{
        font-family: 'Roboto', sans-serif;
        font-size: 4.5vw;
        text-align: center;
    }
}

@media only screen and (min-width: 1000px) {
    
    h1{
        font-family: 'Permanent Marker', cursive;
        font-size: 7vw;
    }
    
    .t-shirt-w{
        width: 1000px;
        height: 1000px;
        background-image: url(/img/white-shirt@1000x1000.png);
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 350px auto 350px;
        grid-template-rows: 230px auto 250px;
        grid-template-areas: 
        "top top price"
        "left text right"
        "bottom bottom right";
    }
    
    .t-shirt-b{
        width: 1000px;
        height: 1000px;
        background-image: url(/img/black-shirt@1000x1000.png);
        background-repeat: no-repeat;
        display: grid;
        grid-template-columns: 350px auto 350px;
        grid-template-rows: 230px auto 250px;
        grid-template-areas: 
        "top top price"
        "left text right"
        "bottom bottom right";
        color: white;
    }
    
    .wrapper{
        max-width: 90vw;
    }
    
    .roboto{
        font-family: 'Roboto', sans-serif;
        font-size: 4vw;
        text-align: center;
    }
    
    .your-cart{
        width: 40%;
        margin-top: 1rem;
        background-color: beige;
        padding: 1rem;
        display: flex;
        flex-direction: column;
    }

    .item-container{
        width: 80%;
    }

    .how-to h2{
        text-align: center;
    }

    .how-to p{
        padding: 0 1rem 0 1rem;
    }
    
    .options-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    
    .gallery-container{
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 80vw;
    }
    
    .gallery-container article{
        margin: 1rem;
        padding: 1rem;
        background-color: beige;
        width: 30vw;
        border-radius: 1.7rem;
    }
    
    footer{
        display: flex;
        justify-content: space-evenly;
    }

    
    .checkout-cart{
        margin: 0 auto;
        width: 50vw;
        background-color: beige;
    }
    
    .checkout-basket-footer{
        display: flex; 
        justify-content: center;
        text-align: right;
    }

    .cost{
        margin: 0.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .checkout-sum{
        margin: 0.5rem;   
        display: flex;  
        justify-content: space-between;
        align-items: center;
    }

    .shipping{
        padding-left: 0.5rem;
        font-size: 22px;
    }

    .total-sum{
        padding-left: 0.5rem;
        font-size: 22px;
    }

    .payment-container{
        width: 50vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: 1fr 1fr  1fr 1fr;
        grid-template-rows: repeat(10, 1fr);
        grid-template-areas: 
        "f-name f-name l-name l-name"
        "f-name-input f-name-input l-name-input l-name-input"
        "street . . ."
        "street-input street-input street-input street-input"
        "city . zip ."
        "city-input city-input zip-input zip-input"
        "state . country ."
        "state-input state-input country-input country-input"
        "payment payment payment payment"
        "number . date ."
        "number-input number-input date-input ."
        ;
        column-gap: 0.5rem;
        margin-bottom: 2rem;
        font-size: 20px;
    }

    .credit-card{
        grid-area: number;
        align-self: end;
    }

    .credit-card-input{
        grid-area: number-input;
        justify-self: stretch;
    }

    .credit-date{
        grid-area: date;
        align-self: end;
    }

    .date{
        grid-area: date-input;
    }

    .f-name{
        grid-area: f-name;
        align-self: end;
    }

    .l-name{
        grid-area: l-name;
        align-self: end;
    } 

    .f-n-form{
        grid-area: f-name-input;
        justify-self: stretch;
    }

    .l-n-form{
        grid-area: l-name-input;
        justify-self: stretch;
    }

    .street{
        grid-area: street;
        align-self: end;
    }

    .street-input{
        grid-area: street-input;
        justify-self: stretch;
    }

    .city{
        grid-area: city;
        align-self: end;

    }

    .city-input{
        grid-area: city-input;
        justify-self: stretch;

    }

    .zip{
        grid-area:  zip;
        align-self: end;
    }

    .zip-input{
        grid-area: zip-input;
        justify-self: stretch;

    }

    .state{
        grid-area: state;
        align-self: end;

    }

    .state-input{
        grid-area: state-input;
        justify-self: stretch;

    }

    .country{
        grid-area: country;
        align-self: end;

    }

    .country-input{
        grid-area: country-input;
        justify-self: stretch;

    }

    .payment-details{
        grid-area: payment;
        align-self: end;
    }

    
    
    
}
