body{
    font-family: 'ABeeZee', sans-serif;
}

header{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    font-family: 'Permanent Marker', cursive;
    font-size: 7vw;
}

h2{
    font-family: 'Crete Round', serif;
}